/* Aidisk CSS Document */

.accountBar{
	width:500px;
	margin:0px auto;
	font-size:11px;
	text-align:left;
	letter-spacing:1px;
	/*background-color:#F4F4F4;*/
	background-color:#7aa3bd;
	padding:3px 0px 0px 3px;
}

.accountName{
	background:url(/images/AiDisk/user_icon0.gif) #F8F8F8;
	background-repeat:no-repeat;
	background-position:left;
	
	padding-left:20px;
	height:25px;
	line-height:25px;
	border-bottom:1px solid #CCC;
	position:relative;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	width:127px;
}

.folder_block{
	border:1px solid #999999;
	border-left:0px solid #999999;
	width:100%;
	height:200px;
}

.folderClicked{
	color:#FFFFFF;
	background-color:#003366;
	cursor:text;
}
.lastfolderClicked{
	color:#000;
	background-color:#FFF;
	cursor:pointer;
}

.FileStatus{
	width:170px;
	height:19px;
	background-color:#F8F8F8;
	text-align:center;
	line-height:20px;
	border-top:1px dotted #999;
	overflow:hidden;
	float:right;
}

.FileStatus input{
	margin-left:12px;
	margin-right:12px;
	width:18px;
}

.FileStatusTitle{
	font-size:12px;
	font-weight:bolder;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}

#ftpURL{
	padding:3px 6px 6px 6px;
	border:1px dashed #666;
	font-size:14px;
	font-weight:bolder;
	}

.machineName{
	background:url(/images/500icon.gif);
	background-repeat:no-repeat;
	background-position: left;
	margin-left:2px;
	padding-left:23px;
}

#accountMask{
	/*background-image:url(/images/popup_bg.gif);*/
	z-index:10;
	position: absolute;
	margin:1px;
	width:144px;
	height:235px;
	background-color:#FFF;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	opacity: .6;
	-moz-opacity: 0.6;
}

#NoAccountHint{
	font-size:12px;
	color:#CC0000;
	height:25px;
	line-height:25px;
	vertical-align:middle;
}

#shareStatus{
	display:block;
	width:500px;
	height:100%;
	margin:0px auto;
}

.ShareClose{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bolder;
	color:#CC0000;
	width:100%;
	text-align:center;
}

.sharelink{
	border:1px dashed #999;
	background-color: #ECF0F2;
	margin:0 3px 0 3px;
    padding:0 .20em 0 .20em;
    width:auto;
    overflow:visible;
	font-family: Arial, Helvetica, sans-serif;	
}
.shareconfig{
	margin:10px auto 0px auto;
	border-bottom:1px dotted #999;	
	background-color:#a7d2e2;
	height:40px;	
}

.FdText span{
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	line-height:14px;
}

.noAccount{
	background:url(/images/AiDisk/user_icon1.gif) #F8F8F8;
	background-repeat:no-repeat;
	background-position:left;
	height:25px;
	line-height:25px;
	
	padding-left:20px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#CC0000;
	font-weight:bold;
	margin:5px 0px 0px 5px;
	overflow:hidden;
	width:127px
}