<html xmlns="http://www.w3.org/1999/xhtml">
<head>     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link type="text/css" rel="stylesheet" href="/form_style.css">
<link type="text/css" rel="stylesheet" href="qis_style.css">

<script type="text/javascript" src="/state.js"></script>
<script type="text/javascript" src="/general.js"></script>
<script type="text/javascript" src="/alttxt.js"></script>
<script>
function QKWireless_load_body(){
	load_alttxt_enviroment();
	parent.document.title = "ASUS Wireless Router <#Web_Title#> - <#QKSet_wireless_webtitle#>";
	hideLinkTag();
	flash_button();
	
	$("descritpion_tail1").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+"<#QIS_wireless_desc1#>";
	
	document.form.wl_ssid.value = decodeURIComponent(document.form.wl_ssid2.value);
	document.form.rt_ssid.value = decodeURIComponent(document.form.rt_ssid2.value);
	document.form.wl_wpa_psk.value = decodeURIComponent(document.form.wl_wpa_psk.value);
	document.form.rt_wpa_psk.value = decodeURIComponent(document.form.rt_wpa_psk.value);
	
	show_prev_button();
	//document.form.sync_with_2ghz.checked = true;
}

function submitForm(){
	if(!validate_string_ssid(document.form.wl_ssid))
		return false;
	if(!validate_string_ssid(document.form.rt_ssid))
		return false;
	document.form.wl_ssid2.value = encodeURIComponent(document.form.wl_ssid.value);
	document.form.rt_ssid2.value = encodeURIComponent(document.form.rt_ssid.value);
	
	if(document.form.wl_wpa_psk.value.length > 0){
		document.form.wl_auth_mode.value = "psk";
		
		if(!validate_psk(document.form.wl_wpa_psk))
			return false;
	}
	else
		document.form.wl_auth_mode.value = "open";

	if(document.form.rt_wpa_psk.value.length > 0){
		document.form.rt_auth_mode.value = "psk";
		
		if(!validate_psk(document.form.rt_wpa_psk))
			return false;
	}
	else
		document.form.rt_auth_mode.value = "open";

	document.form.wan_nat_x.value = parent.document.QKform.wan_nat_x.value;
	document.form.wan_route_x.value = parent.document.QKform.wan_route_x.value;
	
	parent.showLoading();
	
	document.form.target = "";
	document.form.action_mode.value = " Apply ";
	document.form.sid_list.value = "WLANConfig11b;LANHostConfig;IPConnection;PPPConnection;Layer3Forwarding;General;";
	
	document.form.next_page.value = "/QIS_wizard.htm";
	
	if(parent.$("flag").value == "adv_ap_mode"
			|| parent.document.QKform.sw_mode.value == "3"){
		document.form.flag.value = "adv_ap_mode";
		document.form.sw_mode.value = 3;
	}
	else{
		document.form.flag.value = "finish";
		document.form.sw_mode.value = parent.document.QKform.sw_mode.value;
	}
	
	document.form.submit();	
}

function show_prev_button(){
	if(parent.$("flag").value == "wireless"){
		$("prevButton").value = '<#CTL_AdvSetting#>';
		
		document.form.prev_page.value = "/Advanced_Wireless2g_Content.asp";
	}
	else if(parent.$("flag").value == "adv_ap_mode")
		document.form.prev_page.value = "/Advanced_OperationMode_Content.asp";
}

function Sync_2ghz(band){
	if(band == 2){
		if(document.form.sync_with_2ghz.checked == true){
			document.form.wl_ssid.value = document.form.rt_ssid.value; 
			document.form.wl_wpa_psk.value = document.form.rt_wpa_psk.value; 
		}
	}
	else
		document.form.sync_with_2ghz.checked = false;
}
</script>
</head>

<body onLoad="QKWireless_load_body();" onunload="no_flash_button();">
<iframe name="hidden_frame" id="hidden_frame" width="0" height="0" frameborder="0"></iframe>
<div id="navtxt" class="navtext" style="position:absolute; top:50px; left:-100px; visibility:hidden; font-family:Arial, Verdana"></div>

<form method="post" name="form" action="/start_apply2.htm" target="">
<input type="hidden" name="current_page" value="">
<input type="hidden" name="next_page" value="">
<input type="hidden" name="prev_page" value="QIS_internet_success.htm">
<input type="hidden" name="flag" value="">

<!--1008 Lock add-->
<input type="hidden" name="wsc_config_state" value="1">
<input type="hidden" name="wan_nat_x" value="">
<input type="hidden" name="wan_route_x" value="">

<input type="hidden" name="sid_list" value="WLANConfig11b;">
<input type="hidden" name="group_id" value="">
<input type="hidden" name="action_mode" value="">
<input type="hidden" name="productid" value="<% nvram_get_x("",  "productid"); %>">

<input type="hidden" name="wl_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "wl_ssid"); %>">
<input type="hidden" name="wl_auth_mode" value="">
<input type="hidden" name="wl_crypto" value="tkip+aes">
<input type="hidden" name="wl_wpa_mode" value="0">

<input type="hidden" name="rt_ssid2" value="<% nvram_char_to_ascii("WLANConfig11b", "rt_ssid"); %>">
<input type="hidden" name="rt_auth_mode" value="">
<input type="hidden" name="rt_crypto" value="tkip+aes">
<input type="hidden" name="rt_wpa_mode" value="0">
<input type="hidden" name="rt_wpa_psk2" value="<% nvram_char_to_ascii("WLANConfig11b", "rt_wpa_psk"); %>">

<input type="hidden" name="sw_mode" value="">

<div class="QISmain">
<div class="description_down"><#QKSet_wireless_webtitle#></div>
<br/>
<table class="QISform_wireless" width="400" border=0 align="center" cellpadding="5" cellspacing="0">

	<tr>
	<th width="180">2.4GHz - <#Security#> </th>
	<td class="QISformtd">
	</td>
	</tr>

	<tr>
	<th width="180" onmouseout="writetxt(0);" onmouseover="writetxt('<#WLANConfig11b_SSID_itemdesc#>');"><#QIS_finish_wireless_item1#></th>
	<td class="QISformtd">
		<input type="text" name="rt_ssid" onkeypress="return is_string(this);" onkeyup="Sync_2ghz(2);" class="input" maxlength="32" size="34" value="default"/>
	</td>
	</tr>

	<tr>
	<th width="180" onmouseout="writetxt(0);"><#QIS_finish_wireless_item3#></th>
	<td class="QISformtd">
		<input type="password" name="rt_wpa_psk" value="<% nvram_char_to_ascii("WLANConfig11b", "rt_wpa_psk"); %>" onkeyup="Sync_2ghz(2);" class="input" maxlength="64" size="34">
	</td>
	</tr>

	<tr>
	<th width="180">5GHz - <#Security#> </th>
	<td class="QISformtd">
		<input type="checkbox" name="sync_with_2ghz" class="input" onChange="Sync_2ghz(2);"><#qis_ssid_desc#>
	</td>
	</tr>

	<tr id="ssid_setting">
	<th width="180" onmouseout="writetxt(0);" onmouseover="writetxt('<#WLANConfig11b_SSID_itemdesc#>');"><#QIS_finish_wireless_item1#></th>
	<td class="QISformtd">
		<input type="text" name="wl_ssid" onkeypress="return is_string(this);" onkeyup="Sync_2ghz(5);" class="input" maxlength="32" size="34" value="default"/>
	</td>
	</tr>
	
	<tr id="key_setting">
	<th width="180" onmouseout="writetxt(0);"><#QIS_finish_wireless_item3#></th>
	<td class="QISformtd">
		<input type="password" name="wl_wpa_psk" value="<% nvram_char_to_ascii("WLANConfig11b", "wl_wpa_psk"); %>" onkeyup="Sync_2ghz(5);" class="input" maxlength="64" size="34">
	</td>
	</tr>

	<tr>
  	<td colspan=2 class="QISformtd">
	  	<div id="descritpion_tail1"></div>
		</td>
  </tr>
	</div>  

</table>

<div class='QISfoot'>
  <input type='button' id="prevButton" value="<#CTL_prev#>" onclick="gotoprev(document.form);" style="display:none" class="sbtn">
  <input type='button' value="<#QKSet_finishpre_rebootnow#>" onclick="submitForm();" class="sbtn">
</div>

</form>
</body>
