config RT5592_AP
	tristate "Ralink RT5592 802.11 AP driver"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config  RT5592_AP_LED
	bool "LED support"
	depends on RT5592_AP

config  RT5592_AP_LED_SOFT
	bool "Soft LED support"
	depends on RT5592_AP && !RT5592_AP_LED && RALINK_GPIO_LED
	default n

config  RT5592_AP_LED_SOFT_GPIO
	int "Soft LED GPIO pin"
	depends on RT5592_AP && RT5592_AP_LED_SOFT
	default -1

config  RT5592_AP_LLTD
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on RT5592_AP

config  RT5592_AP_WDS
	bool "WDS support"
	depends on RT5592_AP

config  RT5592_AP_MBSS
	bool "MBSSID support"
	depends on RT5592_AP

config  RT5592_AP_MBSS_NEW_MBSSID_MODE
	bool "New MBSSID mode support"
	default n
	depends on RT5592_AP_MBSS

config  RT5592_AP_APCLI
	bool "AP-Client support"
	depends on RT5592_AP

config  RT5592_AP_DFS
	bool "DFS support"
	depends on RT5592_AP

config  RT5592_AP_CARRIER
	bool "Carrier Detection support"
	depends on RT5592_AP

#config  RT5592_AP_EXT_CHANNEL_LIST
#	bool "Extension Channel List"
#	depends on RT5592_AP

config  RT5592_AP_DLS
	bool "DLS (Direct-Link Setup) Support"
	depends on RT5592_AP

config  RT5592_AP_IDS
	bool "IDS (Intrusion Detection System) Support"
	depends on RT5592_AP

config  RT5592_AP_GREENAP
	bool "Green AP mode support"
	depends on RT5592_AP

config  RT5592_AP_EP_SUPPORT
	bool "RT5592 External PA support"
	default n
	depends on RT5592_AP

