config RAETH
        tristate "Ralink GMAC"
        ---help---
          This driver supports Ralink gigabit ethernet family of
          adapters.

config RAETH_NAPI
        bool "Use Rx Polling (NAPI)"
        depends on RAETH

choice
	prompt "Network BottomHalves"
        depends on RAETH
	default RA_NETWORK_TASKLET_BH

	config RA_NETWORK_TASKLET_BH
	bool "Tasklet"

	config RA_NETWORK_WORKQUEUE_BH
	bool "Work Queue"

endchoice

#config RAETH_SKB_RECYCLE
#        bool "SKB Recycle(Linux)"
#        depends on RA_NETWORK_WORKQUEUE_BH && RALINK_RT63365

config RAETH_SKB_RECYCLE_2K
        bool "SKB Recycle_2K(Proprietary)"
        depends on !RALINK_RT63365

#config RAETH_SPECIAL_TAG
#        bool "Ralink Special Tag (0x810x)"
#        depends on (RALINK_RT3052 || RALINK_RT3352 || RALINK_RT5350 || RALINK_RT6855 || RALINK_RT63365)

config RAETH_JUMBOFRAME
        bool "Jumbo Frame up to 4K bytes"
        depends on RAETH && !(RALINK_RT3052 || RALINK_RT3352 || RALINK_RT5350)

config RAETH_CHECKSUM_OFFLOAD
        bool "TCP/UDP/IP checksum offload"
	default y
        depends on RAETH && !RALINK_RT2880

#config RAETH_TSO
#        bool "TSO (Tcp Segmentaton Offload)"
#	select RAETH_CHECKSUM_OFFLOAD
#	default n
#	depends on RAETH && (RALINK_RT6855 || RALINK_RT63365)

config RAETH_HW_VLAN_TX
        bool "Transmit VLAN HW"
        depends on RAETH
        ---help---
          Please set net.ipv4.vlan_double_tag=0 for enable vlan hw offload before eth2 up.

#config RAETH_QOS
#        bool "QoS Feature"
#        depends on RAETH && !RALINK_RT2880 && !RAETH_TSO

choice
        prompt "QoS Type"
        depends on RAETH_QOS
        default DSCP_QOS_DSCP

config  RAETH_QOS_DSCP_BASED
        bool "DSCP-based"
        depends on RAETH_QOS 

config  RAETH_QOS_VPRI_BASED
        bool "VPRI-based"
        depends on RAETH_QOS

endchoice

choice
        prompt "GMAC is connected to"
        depends on RAETH
        default GE1_RGMII_FORCE_1000

config  GE1_MII_FORCE_100
        bool "MII_FORCE_100 (10/100M Switch)"
        depends on (RALINK_RT2880 || RALINK_RT3883) 

config  GE1_MII_AN
        bool "MII_AN (100Phy)"
        depends on (RALINK_RT2880 || RALINK_RT3883) 

config  GE1_RVMII_FORCE_100
        bool "RvMII_FORCE_100 (CPU)"
        depends on (RALINK_RT2880 || RALINK_RT3883) 

config  GE1_RGMII_FORCE_1000
        bool "RGMII_FORCE_1000 (GigaSW, CPU)"
        depends on (RALINK_RT2880 || RALINK_RT3883)

config  GE1_RGMII_AN
        bool "RGMII_AN (GigaPhy)"
        depends on (RALINK_RT2880 || RALINK_RT3883) 

config  RT_3052_ESW
        bool "Ralink Embedded Switch"
        depends on RALINK_RT3052 || RALINK_RT3352 || RALINK_RT5350 || RALINK_RT6855 || RALINK_RT63365


endchoice


config	RALINK_VISTA_BASIC
	bool 'Vista Basic Logo for IC+ 175C'
        depends on LAN_WAN_SUPPORT && (RALINK_RT2880 || RALINK_RT3883)

config RAETH_HAS_PORT5
        bool "Port 5 Support"
        depends on RAETH && (RALINK_RT3052 || RALINK_RT3352 || RALINK_RT6855 || RALINK_RT63365)
choice
        prompt "Target Mode"
        depends on RAETH_HAS_PORT5
	default P5_RGMII_TO_MAC_MODE

	config P5_MAC_TO_PHY_MODE
		bool "Giga_Phy (RGMII)"
	config P5_RGMII_TO_MAC_MODE
		bool "Giga_SW/iNIC (RGMII)"
	config P5_MII_TO_MAC_MODE
		bool "External_CPU (MII_RvMII)"
	config P5_RMII_TO_MAC_MODE
		bool "External_CPU (RvMII_MII)"
endchoice

config  MAC_TO_GIGAPHY_MODE_ADDR
        hex "Phy Address"
	default 0x1F
        depends on GE1_MII_AN || GE1_RGMII_AN || P5_MAC_TO_PHY_MODE

config RAETH_GMAC2
        bool "GMAC2 Support"
        depends on RAETH && RALINK_RT3883

choice
        prompt "GMAC2 is connected to"
        depends on RAETH_GMAC2
        default GE2_RGMII_AN

config  GE2_MII_FORCE_100
        bool "MII_FORCE_100 (10/100M Switch)"
        depends on RAETH_GMAC2

config  GE2_MII_AN
        bool "MII_AN (100Phy)"
        depends on RAETH_GMAC2

config  GE2_RVMII_FORCE_100
        bool "RvMII_FORCE_100 (CPU)"
        depends on RAETH_GMAC2

config  GE2_RGMII_FORCE_1000
        bool "RGMII_FORCE_1000 (GigaSW, CPU)"
        depends on RAETH_GMAC2

config  GE2_RGMII_AN
        bool "RGMII_AN (GigaPhy)"
        depends on RAETH_GMAC2

endchoice

config  MAC_TO_GIGAPHY_MODE_ADDR2
        hex "Phy Address"
	default 0x1E
        depends on GE2_MII_AN || GE2_RGMII_AN 

#force 100M
config RAETH_ROUTER
bool
default y if GE1_MII_FORCE_100 || GE2_MII_FORCE_100 || GE1_RVMII_FORCE_100 || GE2_RVMII_FORCE_100

#force 1000M
config MAC_TO_MAC_MODE
bool
default y if GE1_RGMII_FORCE_1000 || GE2_RGMII_FORCE_1000

#AN
config GIGAPHY
bool
default y if GE1_RGMII_AN || GE2_RGMII_AN

#AN
config 100PHY
bool
default y if GE1_MII_AN || GE2_MII_AN

config RAETH_SNMPD
	bool "Support SNMPD in raeth"
	depends on RAETH
	default n

config RAETH_DHCP_TOUCH
	bool "Send SIGUSR1/2 to dhcpc at media state changed."
	depends on RT_3052_ESW
	default n

config RAETH_READ_MAC_FROM_MTD
        bool "Read mac adress from mtdflash at boot time"
        depends on RAETH
	default n

config RAETH_MEMORY_OPTIMIZATION
	bool "Decrease memory usadge. Need for <32Mb RAM devices. More CPU use."
	depends on RAETH
	default n

config RAETH_ACCEPT_OVERSIZED
	bool "Accept all oversized packets."
	depends on RAETH
	default y
