config RT3090_AP
	tristate "Ralink RT3090 802.11n AP support"
	depends on NET_RADIO 
	
config  RT3090_AP_WSC
	bool "WSC (WiFi Simple Config)"
	depends on RT3090_AP

config  RT3090_AP_LLTD
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on RT3090_AP

config  RT3090_AP_WDS
	bool "WDS"
	depends on RT3090_AP

# ASUS EXT
config  RT3090_AP_WMM_ACM
	bool "WMM ACM"
	depends on RT3090_AP

config  RT3090_AP_MBSS
	bool "MBSSID"
	depends on RT3090_AP

#config  RT3090_AP_APCLI
#	bool "AP-CLient Support"
#	depends on RT3090_AP

config  RT3090_AP_IGMP_SNOOP
	bool "IGMP snooping"
	depends on RT3090_AP

config  RT3090_AP_NETIF_BLOCK
	bool "NETIF Block"
	depends on RT3090_AP
	help
	Support Net interface block while Tx-Sw queue full

#config  RT3090_AP_DFS
#	bool "DFS"
#	depends on RT3090_AP
#	select RALINK_TIMER_DFS

#config  RT3090_AP_CARRIER
#	bool "Carrier Detect"
#	depends on RT3090_AP
#	select RALINK_TIMER_DFS

config  RT3090_AP_DLS
	bool "DLS ((Direct-Link Setup) Support"
	depends on RT3090_AP

#config  RT3090_AP_IDS
#	bool "IDS (Intrusion Detection System) Support"
#	depends on RT3090_AP

config  RT3090_80211N_DRAFT3
	bool "802.11n Draft3"
	depends on RT3090_AP

config  RT3090_AP_BRIDGE_FASTPATH
	bool "Bridge wlan2lan operation offload"
	depends on RT3090_AP

config  RT3090_AP_ATE
	bool "Provide ATE+QA testmode commands support"
	depends on RT3090_AP
	default y

config RALINK_RT3090_AP_DBG
        bool "Debug support for AP mode"
	default n
	depends on RT3090_AP
