# .gitignore
*.o
*.pyc

Makefile
Makefile.in
aclocal.m4
confdefs.h
config.*
configure
confinc
confmf
conftest.*
stamp-h1*

/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/build-aux/test-driver

/autom4te.cache/
/.deps/
/packet/.deps/
/packet/.dirstamp
/packet/testpacket.py.log
/packet/testpacket.py.trs
/test-suite.log
/ChangeLog
/INSTALL
/mtr
/mtr-packet
/mtr-packet-listen
/mtr.8
/mtr-packet.8
/test/.deps/
/test/.dirstamp
/ui/.deps/
/ui/.dirstamp

/test/*.py.log
/test/*.py.trs

/mtr-*.tar.gz
