*~
*.la
*.lo
*.o
*.pc
.deps/
.libs/
Makefile

*.o.cmd
*.ko
*.ko.cmd
*.mod.c
*.mod.o.cmd
.tmp_versions
Module.symvers
modules.order

/autom4te.cache/
/build-aux/
/config.*
/libtool
/stamp-h1

/libltdl/
