*~
*.la
*.lo
*.o
*.pc
.deps/
.libs/
Makefile

*.o.cmd
*.ko
*.ko.cmd
*.mod.c
*.mod.o.cmd
.tmp_versions
Module.symvers
modules.order
kernel/include/linux/netfilter/ipset/ip_set_compat.h

/autom4te.cache/
/config.h
/libtool
/stamp-h1

/libltdl/
