#
# 802.1d Ethernet Bridging
#

config BRIDGE
	tristate "802.1d Ethernet Bridging"
	select LLC
	---help---
	  If you say Y here, then your Linux box will be able to act as an
	  Ethernet bridge, which means that the different Ethernet segments it
	  is connected to will appear as one Ethernet to the participants.
	  Several such bridges can work together to create even larger
	  networks of Ethernets using the IEEE 802.1 spanning tree algorithm.
	  As this is a standard, Linux bridges will cooperate properly with
	  other third party bridge products.

	  In order to use the Ethernet bridge, you'll need the bridge
	  configuration tools; see <file:Documentation/networking/bridge.txt>
	  for location. Please read the Bridge mini-HOWTO for more
	  information.

	  If you enable iptables support along with the bridge support then you
	  turn your bridge into a bridging IP firewall.
	  iptables will then see the IP packets being bridged, so you need to
	  take this into account when setting up your firewall rules.
	  Enabling arptables support when bridging will let arptables see
	  bridged ARP traffic in the arptables FORWARD chain.

	  To compile this code as a module, choose M here: the module
	  will be called bridge.

	  If unsure, say N.

config BRIDGE_IGMP_REPORT_NO_FLOODING
	bool "IGMP report packets to CPU only(No flooding)"
	depends on BRIDGE
	default y
	---help---
	  prevent IGMP report packet flooding to all NICs.

config BRIDGE_2WAYS_FDB
	bool "2-Ways Forwarding DataBase"
	depends on BRIDGE
	default y
	---help---
	  prevent ARP flooding attack (memory protection code)

config BRIDGE_FORWARD_CTRL
	bool "Forwarding Control"
	depends on BRIDGE
	default y
	---help---
	  This option allows you to enable/disable the forward function of the kernel
	  bridge module by proc_fs /proc/net/br_forward_br0.
	  The default status is 1, indicates bridge forward enable.

	  To disable the function just echo 0 to this node:
	  echo 0 > /proc/net/br_forward_br0

	  and echo 1 to re-enable it:
	  echo 1 > /proc/net/br_forward_br0

config BRIDGE_MAC_AUTO
        bool "Set mac to bridge automaticaly"
        depends on BRIDGE
	default y
        ---help---

config BRIDGE_FASTPATH
	bool "Bridge offload engine support"
	depends on BRIDGE
	default y
	---help---
	  Fastest bridge operation support. WARNING CONFLICT WITH BR_NETFILTER

config BRIDGE_EAP
	bool "Bridge 802.1x/EAP hacks from openwrt."
	depends on BRIDGE
	default y
	---help---
	  Bridge do not forward 802.1x/EAP frames and always accept eap to local.
