if RALINK_RT3052

choice
	prompt "SoC Hardware Type"
	default RT3052_ASIC

config  RT3052_ASIC
	bool "RT305x/RT3350-ASIC"
endchoice

config RALINK_RT3350
	bool "Ralink RT3350 chipset"

endif

#---------------------------

if RALINK_RT3352

choice
	prompt "SoC Hardware Type"
	default RT3352_ASIC

config  RT3352_ASIC
	bool "RT3352-ASIC"
endchoice

endif

#--------------------------

if RALINK_RT3883

choice
	prompt "SoC Hardware Type"
	default RT3883_ASIC

config  RT3883_ASIC
	bool "RT3883/RT3662-ASIC"
endchoice

choice
	prompt "RT3883/RT3662 PCI mode"
	default PCIE_ONLY

	config PCIE_PCI_CONCURRENT
	bool "PCIe RC and PCI HOST CONCURRENT"

	config PCIE_ONLY
	bool "PCIe RC ONLY"

	config PCI_ONLY
	bool "PCI HOST ONLY"

	config PCIE_PCI_NONE
	bool "Non-support PCI/PCIe"
endchoice

endif

#---------------------------

if RALINK_RT5350

choice
	prompt "SoC Hardware Type"
	default RT5350_ASIC

config  RT5350_ASIC
	bool "RT5350-ASIC"
endchoice

endif

#--------------------------

if RALINK_MT7620

choice
	prompt "SoC Hardware Type"
	default MT7620_ASIC

config  MT7620_ASIC
	bool "MT7620-ASIC"
endchoice

endif

#--------------------------

if RALINK_MT7621

choice
	prompt "Soc Hardware Type"
	default MT7621_ASIC

config  MT7621_ASIC
	bool "MT7621-ASIC"
endchoice

config PCIE_PORT0
	bool "PCIe Port0 support"
	default y

config PCIE_PORT1
	bool "PCIe Port1 support"
	default n

config PCIE_PORT2
	bool "PCIe Port2 support"
	default n

config PCIE_PERST_ONLY
	bool "Use single PERST_N pin (GPIO19) to reset PCIe peripherals"
	default y
endif

#--------------------------

if RALINK_MT7628

choice
	prompt "Soc Hardware Type"
	default MT7628_ASIC

config  MT7628_ASIC
	bool "MT7628/MT7688-ASIC"
endchoice

endif

#--------------------------

config  RALINK_MT7620_PLL600
	bool "Set MT7620 CPU clock to 600MHz (Override Uboot config)"
	depends on (RALINK_MT7620)
	default n

config  RALINK_MT7621_PLL900
	bool "Set MT7621 CPU clock to 900MHz (Override Uboot config)"
	depends on (RALINK_MT7621)
	default n

config  RALINK_SYSTICK_COUNTER
	bool "Use 50KHz SoC Systick Counter (Independent from CPU frequency)"
	depends on !(CEVT_GIC || RALINK_RT3052 || RALINK_RT3883)
	select GENERIC_CLOCKEVENTS_BROADCAST if MIPS_GIC_IPI
	default n

config  RALINK_CPUSLEEP
	bool "Enable MIPS sleep mode (Dynamic CPU Frequency)"
	depends on (RALINK_SYSTICK_COUNTER && (RALINK_MT7620 || RALINK_MT7621 || RALINK_MT7628))
	default n

config  CLKSRC_MIPS_GIC
	bool "Use MIPS GIC Counter (64 bit)"
	depends on IRQ_GIC
	select CSRC_GIC
	select CEVT_GIC
	default y

#--------------------------

choice
	prompt "DRAM Size"
	default RT2880_DRAM_64M

config RT2880_DRAM_16M
	bool "16M"

config RT2880_DRAM_32M
	bool "32M"

config RT2880_DRAM_64M
	bool "64M"

config RT2880_DRAM_128M
	bool "128M"
	depends on !(RALINK_RT3052 || RALINK_RT5350)

config RT2880_DRAM_256M
	bool "256M"
	depends on !(RALINK_RT3052 || RALINK_RT5350)

config RT2880_DRAM_512M
	bool "512M (448M + 64M Highmem)"
	depends on RALINK_MT7621
	select LONG_CALLS

endchoice

config RALINK_RAM_SIZE
	int
	default 16 if RT2880_DRAM_16M
	default 32 if RT2880_DRAM_32M
	default 64 if RT2880_DRAM_64M
	default 128 if RT2880_DRAM_128M
	default 256 if RT2880_DRAM_256M
	default 512 if RT2880_DRAM_512M

#--------------------------

choice
	prompt "UART Baud Rate"
	default RT2880_UART_57600

config RT2880_UART_57600
	bool "57600"

config RT2880_UART_115200
	bool "115200"

endchoice

config  RALINK_UART_BRATE
	int
	default 57600 if RT2880_UART_57600
	default 115200 if RT2880_UART_115200

#--------------------------

config  RALINK_TIMER_DFS
	tristate "Ralink DFS Timer"
	default n

config  RALINK_TIMER_WDG
	tristate "Ralink WatchDog Timer"
	default n

config  RALINK_TIMER_WDG_RESET_OUTPUT
	bool "Ralink WatchDog Reset Output GPIO Pin"
	depends on RALINK_TIMER_WDG
	default n

config  RALINK_TIMER_WDG_REBOOT_DELAY
	int "WatchDog Timer Reboot Delay (Unit:1Sec, Max=30Sec)"
	default 15
	depends on RALINK_TIMER_WDG

config  RALINK_TIMER_WDG_REFRESH_INTERVAL
	int "WatchDog Refresh Interval (Unit:1Sec, Max=30Sec)"
	default 4
	depends on RALINK_TIMER_WDG

