config RT5392_AP
	tristate "Ralink RT5392 802.11 AP driver"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config  RT5392_AP_LED
	bool "LED support"
	depends on RT5392_AP

config  RT5392_AP_LLTD
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on RT5392_AP

config  RT5392_AP_WDS
	bool "WDS support"
	depends on RT5392_AP

config  RT5392_AP_WMM_ACM
	bool "WMM ACM"
	depends on RT5392_AP

config  RT5392_AP_MBSS
	bool "MBSSID support"
	depends on RT5392_AP

config  RT5392_AP_MBSS_NEW_MBSSID_MODE
	bool "New MBSSID mode support"
	default n
	depends on RT5392_AP_MBSS

config  RT5392_AP_APCLI
	bool "AP-Client support"
	depends on RT5392_AP

config  RT5392_AP_DLS
	bool "DLS (Direct-Link Setup) support"
	depends on RT5392_AP

config  RT5392_AP_IDS
	bool "IDS (Intrusion Detection System) support"
	depends on RT5392_AP

config  RT5392_AP_GREENAP
	bool "Green AP mode support"
	depends on RT5392_AP

