config RT2860V2_AP
	tristate "Ralink APSoC 802.11 AP driver"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config  RT2860V2_AP_LED
	bool "LED support"
	depends on RT2860V2_AP

config  RT2860V2_AP_LED_SOFT
	bool "Soft LED support"
	depends on RT2860V2_AP && !RT2860V2_AP_LED && RALINK_GPIO_LED
	default n

config  RT2860V2_AP_LED_SOFT_GPIO
	int "Soft LED GPIO pin"
	depends on RT2860V2_AP && RT2860V2_AP_LED_SOFT
	default -1

config  RT2860V2_AP_LLTD
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on RT2860V2_AP

config  RT2860V2_AP_WDS
	bool "WDS support"
	depends on RT2860V2_AP

config  RT2860V2_AP_MBSS
	bool "MBSSID support"
	depends on RT2860V2_AP

config  RT2860V2_AP_MBSS_NEW_MBSSID_MODE
	bool "New MBSSID mode"
	default n
	depends on RT2860V2_AP_MBSS
	depends on RALINK_RT3883 || RALINK_RT3352 || RALINK_RT5350 || RALINK_MT7620

config  RT2860V2_AP_APCLI
	bool "AP-Client support"
	depends on RT2860V2_AP

config  RT2860V2_AP_MAC_REPEATER
	bool "MAC Repeater support"
	depends on RT2860V2_AP_APCLI
	depends on RALINK_MT7620
	default n

config  RT2860V2_AP_DFS
	bool "DFS support"
	depends on RT2860V2_AP
	depends on RALINK_RT3883
	select RALINK_TIMER_DFS
	help
	  Support dynamic frequency selection

config  RT2860V2_AP_CARRIER
	bool "Carrier Detection support"
	depends on RT2860V2_AP
	select RALINK_TIMER_DFS
	help
	  Carrier Sense Multi-Access/Collision Detection.

config  RT2860V2_AP_DLS
	bool "DLS (Direct-Link Setup) support"
	depends on RT2860V2_AP

config  RT2860V2_AP_IDS
	bool "IDS (Intrusion Detection System) support"
	depends on RT2860V2_AP

config  RT2860V2_AP_ANTENNA_DIVERSITY
	bool "Antenna Diversity support"
	depends on RT2860V2_AP
	depends on RALINK_RT5350

config  RT2860V2_AP_GREENAP
	bool "Green AP mode support"
	depends on RT2860V2_AP

config  RT2860V2_AP_TXBF
	bool "Tx Beam Forming support (Only 3883)"
	depends on RT2860V2_AP
	depends on RALINK_RT3883

choice
	prompt "Choose Power Design"
	depends on RT2860V2_AP
	depends on RALINK_MT7620
	default INTERNAL_PA_INTERNAL_LNA
config  INTERNAL_PA_INTERNAL_LNA
	bool "Internal PA and Internal LNA"
config  INTERNAL_PA_EXTERNAL_LNA
	bool "Internal PA and External LNA"
config  EXTERNAL_PA_EXTERNAL_LNA
	bool "External PA and External LNA"
endchoice

config  RT2860V2_AP_RTMP_INTERNAL_TX_ALC
	bool "TSSI Compensation (Internal TX ALC)"
	depends on RT2860V2_AP
	depends on RALINK_RT3350 || RALINK_RT3352 || RALINK_RT5350 || RALINK_MT7620
	depends on !EXTERNAL_PA_EXTERNAL_LNA
	default n

config  RT2860V2_AP_RTMP_TEMPERATURE_COMPENSATION
	bool "Temperature Compensation (External TX ALC)"
	depends on RT2860V2_AP
	depends on RALINK_MT7620
	default n

config  RT2860V2_AP_ADJ_PWR_CONSUMPTION
	bool "Reduce Power Consumption"
	depends on RT2860V2_AP
	depends on RALINK_MT7620
	default n

