# Secrets for authentication on server using CHAP
# client        server  secret                  IP addresses
jacco		*	"mysecret"		192.168.1.128/25 # Dynamic IP
sam		*	"rumpelstiltskin"	192.168.1.5	 # Static IP
#
# Secrets for authentication on client using CHAP
# client	server	secret			IP addresses
*		jacco	"mysecret"
*		sam	"rumpelstiltskin"
