config RT_SINGLE_SKU
	bool "Single SKU regspec"
	default n

config RT_MAX_CLIENTS
	int "Maximum Wireless clients (16/32/48/64/128). More clients - more MEM and CPU usage"
	default 32

config RT_BAND_STEERING
	bool "Band Steering support"
	depends on !RT_SECOND_IF_NONE
	default n

config RT_DOT11R_FT
	bool "802.11r Fast BSS Transition support"
	default n

config RT_DOT11K_RRM
	bool "802.11k Radio Resource Management support"
	default n

config RT_80211N_DRAFT3
	bool "802.11n Draft3 (BSS Coexistence)"
	default n

config RT_80211W_PMF
	bool "802.11w Protected Management Frames (PMF) support"
	default n

#config RT_WAPI
#	bool "WAPI support"
#	default n

config RT_WSC
	bool "WSC (WiFi Simple Config)"
	default n

config RT_WSC_V2
	bool "WSC V2 (WiFi Simple Config Version 2)"
	depends on RT_WSC
	default n

config RT_WSC_NFC
	bool "WSC out-of-band (NFC)"
	depends on RT_WSC
	default n

config RT_ED_MONITOR
	bool "ED CCA Monitor support"
	default n

config RT_IGMP_SNOOP
	bool "IGMP snooping (M2U in wireless driver)"
	default n

config RT_MCAST_RATE_SPECIFIC
	bool "User specific TX rate of mcast packets"
	default n

config RT_DELAYED_TCP_ACK
	bool "Delayed TCP ACK support"
	default n

#config RT_HDR_TRANS
#	bool "Header Translation RX support"
#	default n

#config RT_CSO
#	bool "Checksum offload (CSO) support"
#	default n

config RT_NETIF_BLOCK
	bool "NETIF Block"
	default n
	help
	  Support Net interface block while Tx-Sw queue full

#config RT_VIDEO_TURBINE
#	bool "Video Turbine support"
#	default n

config RT_SNMP
	bool "Support SNMPD counters"
	default n

config RT_CFG80211
	bool "CFG80211 support (Linux wireless configuration API)"
	depends on CFG80211
	default n

config RT_READ_MAC_FROM_MTD
	bool "Read and set MAC address from MTD/EEPROM"
	default y

config RT_MEMORY_OPTIMIZATION
	bool "Memory optimization (shrink ring size). Need for < 32Mb RAM devices"
	default n

#config RT_BIG_ENDIAN
#	bool "Big-endian platform support"
#	default n

#config RT_MC_SUPPORT
#	bool "Multiple PCIe card support"
#	default n

#config RT_ATE
#	bool "Provide ATE testmode commands support"
#	default n

#config RT_QA
#	bool "Provide QA tool support"
#	depends on RT_ATE
#	default n

config RT_DEBUG
	bool "Include Debug messages"
	default n

