config UFSD_FS
	tristate "NTFS fs support (proprietary driver ufsd from Paragon pre-builded for ASUS)"
	help
	  This adds support for the NTFS file system via ufsd driver.

config UFSD_USE_NLS
	bool "Use kernel NLS instead of builtin UTF8"
	depends on UFSD_FS
	select NLS
	default n
