[Unit]
Description=ipt2socks
Requires=network.target network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/ipt2socks -s 127.0.0.1 -p 61080

[Install]
WantedBy=multi-user.target
