/* CSS Document */
.buttonok {width:52px; font-family:Verdana; font-size:11px; line-height:25px; text-align:center;}
.buttonok a {height:28px; text-decoration: none;}
.buttonok a:link, .buttonok a:visited {
	color: #002157;	display: block;
	background: url(images/button-ok.gif);}	
.buttonok a:hover,.buttonok a:active {	color:#ffffff;	background:url(images/button-ok.gif) 0 -28px;}

.buttonquit {width:100px; font-family:Verdana; font-size:11px; line-height:20px; text-align:center;  }
.buttonquit a { height:31px; text-decoration:none; }
.buttonquit a:link, .buttonquit a:visited {
	color:#002157; display:block; background:url(images/button-quit.gif) no-repeat; text-decoration:none;}
.buttonquit a:hover,.buttonquit a:active {	color: #ffffff;	background: url(images/button-quit.gif) no-repeat 0 -31px; text-decoration:none;}

.top-message {
	font-family:Arial, Verdana;
	font-size:11px;
	color:#000000;
	border-left:2px dotted #97A9B2;
	padding-left:10px;
	padding-right:0px;
	background: #c5d2d6;
}
.top-message a:link, .top-message a:visited{
	text-decoration:underline;
}
	
.top-messagebold {
	font-family:Verdana;
	font-size:11px;
	color:#4b6688;
	line-height:180%;
	font-weight:bold;
}

.top-input {
	font-family:Verdana;
	font-size:11px;
	color:#000000;
	line-height:200%;
	border: 1px solid  #7f9db9;
	background-color:#e1f0f5;
	width:140px;
}

#top-logo {
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-stretch:wider;
	color:#FFFFFF;
	letter-spacing:1px;
	background:url(images/top-02.gif) #c5d2d6 no-repeat;
	padding:20px 0 0 50px; /* Control the position of product name */
}

/*=================Form Style===================*/

.FormTitle{
	line-height : 160%;
	font-size:12px;
	font-family:Arial, Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #4e6d95;
}
.FormTitle thead{
	color:#FFF;
	font-size:13px;
	text-align:center;	
	font-weight:bold;
	background-color:#4e6d95;
}
.FormTitle tbody{
	line-height:180%;
}

.FormTable{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border: 1px solid #999;
	border-collapse: collapse;
}
.FormTable th{
	font-family:Arial, Helvetica, sans-serif;
	background-color:#7aa3bd;
	font-weight:normal;
	line-height:18px;
	text-align:right;
	font-size:12px;
}
.FormTable thead td{
	color: #F4F4F4;
	font-size:12px;
	background-color:#4e6d95;
	text-align:left;
	font-weight:normal;
}

.FormTable thead th{
	color: #000000;
	font-size:12px;	
	background-color:#7aa3bd;
	text-align: center;
	font-weight:normal;
}

.FormTable td{
	background-color:#C0DAE4;/*#a7d2e2;*/	
}
.FormTable td span{
	background-color:#C0DAE4;
	color:#FF3300;
}

.input{
	color:#3b5f71;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:2px;
}

input[type=radio] {
  vertical-align:top;
}
input {
	vertical-align:expression(this.type=="radio"?"middle":"baseline");
	vertical-align:expression(this.type=="checkbox"?"middle":"baseline");
}

.button{
	border: 1px solid #416492;
	background:url(images/bgaibutton0.gif) #ACCCE1;
	height:20px;
	font-family:Verdana;
	font-size:12px;
	margin-right:5px;
	margin-left:5px;	
  padding:0 .70em 0 .70em;  
  width:auto;
  overflow:visible;
	cursor:pointer;
}
.button:hover{
	background:url(images/bgaibutton.gif) #ACCCE1;
	color:#FFFFFF;
}

.button2{
	border: 1px solid #416492;
	background:url(images/bgaibutton0_2.gif) #ACCCE1;
	height:20px;
	font-family:Verdana;
	font-size:12px;
	margin-right:5px;
	margin-left:0px;	
  /*padding:0 .70em 0 .70em;*/  
  width:auto;
  overflow:visible;
	cursor:pointer;
}

.button2:hover{
	background:url(images/bgaibutton_2.gif) #ACCCE1;
	color:#FFFFFF;
}

.button2_NW{
	border: 1px solid #416492;
	background:url(images/bgaibutton0_2.gif) #ACCCE1;
	height:20px;
	font-family:Verdana;
	font-size:12px;
	margin-right:5px;
	margin-left:5px;	
  /*padding:0 .70em 0 .70em;*/  
  width:auto;
  overflow:visible;
	cursor:pointer;
}
.button2_NW:hover{
	background:url(images/bgaibutton_2.gif) #ACCCE1;
	color:#FFFFFF;
}

.button5{
	border: 1px solid #416492;
	background:url(images/bgaibutton0_5.gif) #ACCCE1;
	height:20px;
	font-family:Verdana;
	font-size:12px;
	margin-right:5px;
	margin-left:0px;	
  /*padding:0 .70em 0 .70em;*/  
  width:auto;
  overflow:visible;
	cursor:pointer;
}
.button5:hover{
	background:url(images/bgaibutton_5.gif) #ACCCE1;
	color:#FFFFFF;
}

.button5_NW{
	border: 1px solid #416492;
	background:url(images/bgaibutton0_5.gif) #ACCCE1;
	height:20px;
	font-family:Verdana;
	font-size:12px;
	margin-right:5px;
	margin-left:5px;	
  /*padding:0 .70em 0 .70em;*/  
  width:auto;
  overflow:visible;
	cursor:pointer;
}
.button5_NW:hover{
	background:url(images/bgaibutton_5.gif) #ACCCE1;
	color:#FFFFFF;
}

.sbtn{  /*Lock 1206 modified*/
	border: 1px outset #333;
	background:url(images/sbtn0.gif) #FFCC66;
	height:20px;
	font-family:Verdana;
	font-size:12px;
	margin-right:5px;
	margin-left:5px;	
  padding:0 .70em 0 .70em;
  width:auto;
  overflow:visible;
	cursor:pointer;
}
.sbtn:hover{
	background:url(images/sbtn.gif) #FFCC66;
	color:#FFFFFF;
}

form{ 
	margin:0px;
}

textarea{
	width:98%;	
}

.hint_word{
	color: #FF0000;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;
	padding:5px 5px 5px 0px;
}

.domore{
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color: #EEEEEE;
	color: #006699;
	float:right;
	margin:8px 7px 0 0;
}
.domore option{
	text-decoration:underline;
}

.short_btn {
	width: 105px;
	font-family:Verdana ;
	font-size : 13px;
	text-align:center;
	line-height:25px;
}
	
.short_btn a { height: 31px;	text-decoration: none;	}
.short_btn a:link, .short_btn a:visited {
	color: #002157;	display: block;	background: url(../images/button-next.gif);
	}
.short_btn a:hover,.short_btn a:active {	color: #ffffff;	background: url(../images/button-next.gif) 0 -31px;}

.upnp_btn {
	width: 150px;
	font-family:Verdana ;
	font-size : 13px;
	text-align:center;
	line-height:25px;
}
	
.upnp_btn a { height: 31px;	text-decoration: none;	}
.upnp_btn a:link, .short_btn a:visited {
	color: #002157;	display: block;	background: url(../images/button-upnp.gif);
	}
.upnp_btn a:hover,.short_btn a:active {	color: #ffffff;	background: url(../images/button-upnp.gif) 0 -31px;}

/*0103 lock*/
.popTable {
	border:1px solid #666;	
}
.popTable thead td{
	background-image:url(images/title-bg-2.gif);
	border-bottom:1px solid #666;
}
	
.popTable thead span{
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	float:left;
	margin:6px 5px 0px 5px;
	}
.popTable thead img{
	float:right;
	margin:0px 4px 0px 4px;
	cursor:pointer;
}

.popTable tbody{
	background-color:#FFF;
	text-align:left;
}
.popTable tbody th{
	font-family:Verdana;
	font-size:12px;
	text-align:right;
	padding-right:5px;
	height:30px;
}
.popTable tbody td{
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	padding:4px;
}

.inputpin{
	color:#333333;
	border:1px inset #000;
	background: url(images/bg_ipt_field.gif) repeat-x #FFF;
	font-family:Verdana;
	font-size:11px;
	padding-left:2px;
	font-weight:bold;
}

.devicepin{
	border:0px;
	background-color: #C0DAE4;
	font-family:Verdana;
	font-size:11px;
	padding-left:2px;
	font-weight:bold;
	cursor:text;
}

#ClientList_Block{
	border:2px outset #999;
	background-color:#EFEFEF;
	position:absolute;
	margin-top:-5px;
	margin-left:273px;
	text-align:left;
	width:200px;
	height:100px;
	overflow-y:auto;
	z-index:200;
	padding: 1px;
	display:none;
}
#ClientList_Block div{
	height:20px;
	line-height:20px;
	text-decoration:none;
	padding-left:2px;
}

#ClientList_Block a{
	background-color:#EFEFEF;
	color:#000;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
#ClientList_Block div:hover, #ClientList_Block a:hover{
	background-color:#003366;
	color:#FFFFFF;
	cursor:default;
}

.hackiframe2   /* iframe for Hack IE 6.0 to avoid select menu over DIV layer. */
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0px;
	left:0px;
	margin-top:0px;
	margin-left:0px;	
	z-index: -1;
	filter:mask();
	width:205px;/*must have for any big value*/
	height:125px;/*must have for any big value*/
}

.hackiframe_wdssurvey   /* iframe for Hack IE 6.0 to avoid select menu over DIV layer. */
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0px;
	left:0px;
	margin-top:0px;
	margin-left:0px;	
	z-index: -1;
	filter:mask();
	width:150px;/*must have for any big value*/
	height:225px;/*must have for any big value*/
}

#pull_arrow{
 	float:left;
 	cursor:pointer;
 	border:2px outset #EFEFEF;
 	background-color:#CCC;
 	padding:3px 2px 4px 0px;
}
.list_table{
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-collapse: collapse;
	background-color:#FFFFFF;
	text-align:center;
	font-size:12px;
}
.list_table td{
	border-bottom:1px solid #999;
	border-left:1px solid #EFEFEF;		
}
.list_table tfoot td{
	background-color:#C0DAE4;
}

.list_table .whenClick{
	background-color: #FFFF99;
}

.IPaddr{
	font-size:12px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	border: 2px inset #F4F4F4;
	background:#FFF;
	width:130px;
	display: inline-block;
}
.IPaddr input{
	border:0px solid #CCC;
	color:#000;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	width:27px;
	text-align:center;
	margin:0px auto;
	ime-mode:disabled;
	/*background:#CCC;*/
}

.inputinfo{
	border:0px;
	background-color: #A7D2E2;
	font-family:Verdana;
	font-size:11px;
	padding-left:2px;
	font-weight:bold;
	cursor:text;
	color:#000;
}