#
# Ralink character devices
#

config RALINK_GPIO
	bool "Ralink SoC GPIO Support"
	default y

config RALINK_GPIOMODE_EPHY
	bool "Configure EPHY as GPIO mode"
	depends on RALINK_GPIO
	depends on (RALINK_MT7620 || RALINK_MT7628)
	default n
config RALINK_GPIOMODE_PCI
	bool "Configure PCI as GPIO mode"
	depends on RALINK_GPIO
	depends on RALINK_RT3883
	default n
config RALINK_GPIOMODE_LNA_G
	bool "Configure LNA_G as GPIO mode"
	depends on RALINK_GPIO
	depends on (RALINK_RT3352 || RALINK_RT3883)
	default n
config RALINK_GPIOMODE_LNA_A
	bool "Configure LNA_A as GPIO mode"
	depends on RALINK_GPIO
	depends on RALINK_RT3883
	default n
config RALINK_GPIOMODE_MDIO
	bool "Configure MDIO as GPIO mode"
	depends on RALINK_GPIO
	depends on !(RALINK_RT5350 || RALINK_MT7621 || RALINK_MT7628)
	default n
config RALINK_GPIOMODE_PA_G
	bool "Configure PA_G as GPIO mode"
	depends on RALINK_GPIO
	depends on (RALINK_RT3352 || RALINK_MT7620 || RALINK_MT7628)
	default n
config RALINK_GPIOMODE_JTAG
	bool "Configure JTAG as GPIO mode"
	depends on RALINK_GPIO
	depends on !(RALINK_MT7620 || RALINK_MT7628)
	default n
config RALINK_GPIOMODE_UARTF
	bool "Configure UARTF as GPIO mode"
	depends on RALINK_GPIO
	depends on !(RALINK_MT7621 || RALINK_MT7628)
	default y
config RALINK_GPIOMODE_SPI
	bool "Configure SPI as GPIO mode"
	depends on RALINK_GPIO
	depends on !(RALINK_MT7621)
	default n
config RALINK_GPIOMODE_SPI_REFCLK
	bool "Configure SPI CS1 as REFCLK_OUT"
	depends on RALINK_GPIO && !RALINK_GPIOMODE_SPI
	depends on RALINK_MT7620
	default y
config RALINK_GPIOMODE_I2C
	bool "Configure I2C as GPIO mode"
	depends on RALINK_GPIO
	default n

config RALINK_GPIO_IRQ
	bool "Ralink GPIO IRQ Support"
	depends on RALINK_GPIO
	default y

config RALINK_GPIO_LED
	bool "Ralink GPIO LED Support"
	depends on RALINK_GPIO
	default n

config RALINK_GPIO_LED_USB
	bool "Ralink GPIO USB LED Support"
	depends on RALINK_GPIO_LED && USB
	default n

config RALINK_GPIO_LED_USB2
	bool "Ralink GPIO USB #2 LED Support"
	depends on RALINK_GPIO_LED_USB
	default n

config RALINK_HSDMA
	tristate "Ralink SoC HSDMA Support"
	depends on RALINK_MT7621
	default n

config RALINK_GDMA
	tristate "Ralink SoC GDMA Support"
	default n

choice
	prompt "GDMA Channel Allocation Mode"
	depends on RALINK_GDMA
	default GDMA_EVERYBODY

	config GDMA_PCM_ONLY
	bool "PCM/Others"
	---help---
	  RT305x/RT3350=>Ch0-Ch7:PCM0/PCM1 
	  RT3352/RT5350/RT3883=>Ch0-Ch7:PCM0/PCM1, Ch8-Ch15:others
	
	config GDMA_PCM_I2S_OTHERS
	bool "PCM/I2S/Others"
	---help---
	  RT305x/RT3350=>4Ch:PCM0 / 2Ch:I2S / 2Ch:Others
	  RT3352/RT5350/RT3883=>4Ch:PCM0 / 2Ch:I2S_Tx / 2Ch:I2S_Rx / 8Ch:Others

	config GDMA_EVERYBODY
	bool "All for Everybody"

	config GDMA_DEBUG
	bool "Debug Mode 0->1..7->0->1..7.."
endchoice

config RALINK_SPI
	tristate "Ralink SoC SPI Support"
	default n

config RALINK_SPI_CS0_HIGH_ACTIVE
	depends on RALINK_SPI
	bool "SPI CS0 (Chip Select) is high active"
	default n

config RALINK_SPI_CS1_HIGH_ACTIVE
	depends on RALINK_SPI
	depends on RALINK_RT3883 || RALINK_RT3352 || RALINK_RT5350 || RALINK_MT7620 || RALINK_MT7621 || RALINK_MT7628
	bool "SPI CS1 (Chip Select) is high active"
	default n

config RALINK_VITESSE_SWITCH_CONNECT_SPI_CS1
	depends on RALINK_SPI
	depends on RALINK_RT3883 || RALINK_RT3352 || RALINK_RT5350 || RALINK_MT7620 || RALINK_MT7621 || RALINK_MT7628
	bool "Vitess Switch CS Pin Connects to SPI CS1"
	default n

config RALINK_SLIC_CONNECT_SPI_CS1
	depends on RALINK_SPI
	depends on RALINK_RT3883 || RALINK_RT3352 || RALINK_RT5350 || RALINK_MT7620 || RALINK_MT7621 || RALINK_MT7628
	bool "SLIC CS Pin Connects to SPI CS1"
	default n

config RALINK_I2C
	tristate "Ralink SoC I2C Support"
	default n

