menu "Ralink MTD support"

config MTD_RALINK
	bool "Ralink MTD support"
	default y
	depends on MTD

if MTD_RALINK

choice
	prompt "Flash Type"
	default MTD_SPI_RALINK

	config MTD_NOR_RALINK
		bool "NOR Flash"
		depends on (RALINK_RT3052 || RALINK_RT3883)
		select MTD_CFI

	config MTD_SPI_RALINK
		bool "SPI Flash"

	config MTD_NAND_RALINK
		bool "NAND Flash"
		depends on !(RALINK_RT3352 || RALINK_RT5350 || RALINK_MT7621 || RALINK_MT7628)

	config MTD_NAND_MTK
		bool "NAND Flash"
		depends on (RALINK_MT7621)
		select MTD_NAND
		select MTD_NAND_IDS
		select MTD_NAND_ECC
endchoice

config MTD_SPI_FAST_CLOCK
	bool "Use SPI fast clock, up to 50MHz"
	default n
	depends on MTD_SPI_RALINK

choice
	prompt "SPI Read Mode"
	default MTD_SPI_READ_NORM
	depends on MTD_SPI_RALINK

	config MTD_SPI_READ_NORM
		bool "Normal Read, opcode 0x03"
	config MTD_SPI_READ_FAST
		bool "Fast Read, opcode 0x0B"
	config MTD_SPI_READ_DOR
		bool "Fast Read Dual Out, opcode 0x3B"
		depends on RALINK_MT7620
	config MTD_SPI_READ_DIOR
		bool "Fast Read Dual I/O, opcode 0xBB"
		depends on RALINK_MT7620
endchoice

choice
	prompt "Flash Size"
	default RT2880_FLASH_AUTO

	config RT2880_FLASH_4M
		bool "4M"
		depends on (MTD_SPI_RALINK || MTD_NOR_RALINK)
	config RT2880_FLASH_8M
		bool "8M"
		depends on (MTD_SPI_RALINK || MTD_NOR_RALINK)
	config RT2880_FLASH_16M
		bool "16M"
		depends on (MTD_SPI_RALINK || MTD_NOR_RALINK)
	config RT2880_FLASH_32M
		bool "32M"
		depends on MTD_SPI_RALINK
	config RT2880_FLASH_AUTO
		bool "Autodetect Size"
endchoice

config RT2880_MTD_PHYSMAP_START
	hex
	default 0xBF000000 if RALINK_RT3052
	default 0x1FC00000 if RALINK_MT7621
	default 0x1C000000 if !RALINK_RT3052

config RT2880_MTD_PHYSMAP_LEN
	hex
	default 0x0400000 if RALINK_MT7621
	default 0x1000000 if !RALINK_MT7621

config RT2880_MTD_PHYSMAP_BUSWIDTH
	int
	default 2

choice
	prompt "Root File System Type"
	default RT2880_ROOTFS_IN_FLASH

	config  RT2880_ROOTFS_IN_RAM
		bool "RootFS_in_RAM"
		select BLK_DEV_INITRD
		select BLK_DEV_RAM

	config  RT2880_ROOTFS_IN_FLASH
		bool "RootFS_in_FLASH"
endchoice

config ROOTFS_IN_FLASH_NO_PADDING
	bool "No Padding between Kernel and RootFS"
	default y
	depends on RT2880_ROOTFS_IN_FLASH && !MTD_NAND_USE_UBI_PART

config MTD_NAND_USE_UBI_PART
	bool "Use UBI partitions (U-Boot must support boot from UBI!)"
	default n
	depends on (MTD_NAND_RALINK || MTD_NAND_MTK)
	select MTD_UBI
	select MTD_UBI_GLUEBI

config MTD_NETGEAR_LAYOUT
	bool "NETGEAR flash layout"
	default n
	depends on (MTD_NAND_RALINK || MTD_NAND_MTK) && !MTD_NAND_USE_UBI_PART

config MTD_NAND_USE_XIAOMI_PART
	bool "Use xiaomi NAND partitions"
	default n
	depends on (MTD_NAND_RALINK || MTD_NAND_MTK) && !MTD_NAND_USE_UBI_PART

config MTD_FACTORY_OFFSET
	hex "MTD 'Factory' Partition Offset (Unit:Bytes), for NETGEAR layout"
	default 0x4600000
	depends on (MTD_NETGEAR_LAYOUT)

config MTD_RWFS_OFFSET
	hex "MTD 'RWFS' Partition Offset (Unit:Bytes), for NETGEAR layout"
	default 0x5400000
	depends on (MTD_NETGEAR_LAYOUT)

config MTD_CONFIG_PART_BELOW
	bool "Place 'Config' Partition after 'Kernel+RootFS' Partition"
	default n
	depends on (MTD_NAND_RALINK || MTD_NAND_MTK) && !MTD_NAND_USE_UBI_PART && !MTD_NAND_USE_XIAOMI_PART

config MTD_BOOTLOADER_PART_SIZ
	hex "MTD 'Bootloader' Partition Size (Unit:Bytes)"
	default 0x0080000
	depends on (MTD_NAND_RALINK || MTD_NAND_MTK)

config MTD_BOOTENV_PART_SIZ
	hex "MTD 'BootEnv' Partition Size (Unit:Bytes)"
	default 0x0080000
	depends on (MTD_NAND_RALINK || MTD_NAND_MTK) && !MTD_NAND_USE_UBI_PART

config MTD_CONFIG_PART_SIZ
	hex "MTD 'Config' Partition Size (Unit:Bytes)"
	default 0x0100000
	depends on (MTD_NAND_RALINK || MTD_NAND_MTK) && !MTD_NAND_USE_UBI_PART

config MTD_FACTORY_PART_SIZ
	hex "MTD 'Factory' Partition Size (Unit:Bytes)"
	default 0x0080000
	depends on (MTD_NAND_RALINK || MTD_NAND_MTK) && !MTD_NAND_USE_UBI_PART

config MTD_RESERVED_PART_SIZ
	hex "MTD 'Reserved' Partition Size (Unit:Bytes), for xiaomi boards"
	default 0x04c0000
	depends on (MTD_NAND_RALINK || MTD_NAND_MTK) && !MTD_NAND_USE_UBI_PART && MTD_NAND_USE_XIAOMI_PART

config MTD_KERNEL_PART_SIZ
	hex "MTD 'Kernel' Partition Size (Unit:Bytes)"
	default 0x0120000
	depends on RT2880_ROOTFS_IN_FLASH && !ROOTFS_IN_FLASH_NO_PADDING && !MTD_NAND_USE_UBI_PART

config MTD_FIRMWARE_PART_SIZ
	hex "MTD 'Kernel+RootFS' Partition Size (Unit:Bytes). Max 32MiB."
	default 0x1000000
	depends on (MTD_NAND_RALINK || MTD_NAND_MTK) && !MTD_NAND_USE_UBI_PART

config MTD_STORE_PART_SIZ
	hex "MTD 'Storage' Partition Size (Unit:Bytes)"
	default 0x0200000 if  (MTD_NAND_RALINK || MTD_NAND_MTK)
	default 0x0010000 if !(MTD_NAND_RALINK || MTD_NAND_MTK)
	depends on !MTD_NAND_USE_UBI_PART

endif

endmenu
