Makefile
autom4te.cache/
ltmain.sh
stamp-h1
configure
config.status
config.log
config.h
config.h.in
onig-config
libtool
aclocal.m4
Makefile.in
*.o
*.obj
*.so
*.lo
*.la
*.pc
*~
.libs/
.deps/
testc
testcu
testp
/build
m4/*.m4
