config RT3090_AP
	tristate "Ralink RT309X 802.11 AP driver"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config  RT3090_AP_RT3390
	bool "RT3390 Support"
	default n
	depends on RT3090_AP

config  RT3090_AP_LED
	bool "LED support"
	depends on RT3090_AP

config  RT3090_AP_LLTD
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on RT3090_AP

config  RT3090_AP_WDS
	bool "WDS support"
	depends on RT3090_AP

config  RT3090_AP_MBSS
	bool "MBSSID support"
	depends on RT3090_AP

config  RT3090_AP_APCLI
	bool "AP-Client support"
	depends on RT3090_AP

config  RT3090_AP_DLS
	bool "DLS (Direct-Link Setup) support"
	depends on RT3090_AP

config  RT3090_AP_IDS
	bool "IDS (Intrusion Detection System) support"
	depends on RT3090_AP

config  RT3090_AP_GREENAP
	bool "Green AP mode support"
	depends on RT3090_AP

