<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="shortcut icon" href="images/favicon.png">
<link rel="icon" href="images/favicon.png">
<title>ASUS Wireless Router <#Web_Title#> - Quickly Internet Setup</title>

<link rel="stylesheet" type="text/css" href="/qis/qis_style.css">
<link rel="stylesheet" type="text/css" href="/form_style.css">
<link rel="stylesheet" type="text/css" href="/other.css">
<style type="text/css">
</style>

<script type="text/JavaScript" src="/state.js"></script>
<script type="text/javascript" src="/popup.js"></script>
<script type="text/javascript" src="/detect.js"></script>
<script>
<% login_state_hook(); %>
var wireless = [<% wl_auth_list(); %>];	// [[MAC, associated, authorized], ...]

var arg_wan_nat_x = '<% get_parameter("wan_nat_x"); %>';
var arg_wan_proto = '<% get_parameter("wan_proto"); %>';
var arg_wan_route_x = '<% get_parameter("wan_route_x"); %>';
var arg_prev_page = '<% get_parameter("prev_page"); %>';

var reduced_internet_type = "disable";
var targeturl = "/index.htm";
var firmver = '<% nvram_get_x("", "firmver"); %>';

function QIS_load_body(){
	var showCase;
	showCase = $("flag").value;
	
	get_args();
	
	winW_H();
	
	with(document.redirectForm){
		if(showCase == "remind"){
			action = "/qis/QIS_internet_success.htm";
			submit();
		}
		else if(showCase == "detect"){
			if(document.QKform.x_Setting.value == "0"){
				action = "/qis/QIS_op_mode.htm";
				submit();				
			}
			else{
				action = "/qis/QIS_detect.htm";
				submit();
			}
		}
		else if(showCase == "detect2"){
			action = "/qis/QIS_detect2.htm";
			submit();
		}
		else if(showCase == "auto_way_static"){
		//else if(showCase.indexOf("auto_way_static") == 0){
			action = "/qis/QIS_internet_ip.htm";
			flag.value = showCase;
			prev_page.value = "/qis/QIS_detect.htm";
			submit();
		}
		else if(showCase == "auto_way_vpn"){
			action = "/qis/QIS_internet_ip.htm";
			flag.value = showCase;
			prev_page.value = "start_apply.htm";
			submit();
		}
		else if(showCase == "auto_way"){
			action = "/qis/QIS_internet_ip.htm";
			flag.value = showCase;
			submit();
		}
		else if(showCase == "verify_detect"){
			action = "/qis/QIS_detect.htm";
			flag.value = showCase;
			submit();
		}
		else if(showCase == "router_mode"){
			action = "/qis/QIS_internet_type.htm";
			submit();
		}
		else if(showCase == "adv_ap_mode"){
			document.QKform.sw_mode.value = "3";
			action = "/qis/QIS_wireless.htm";
			submit();
		}
		else if(showCase == "wireless"){
			action = "/qis/QIS_wireless.htm";
			submit();
		}
		else if(showCase == "wireless2g"){
			action = "/qis/QIS_wireless2g.htm";
			submit();
		}
		else if(showCase == "pppoe"){
			document.QKform.wan_proto.value = "pppoe";
			
			action = "/qis/QIS_internet_account.htm";
			submit();
		}
		else if(showCase == "pptp"){
			document.QKform.wan_proto.value = "pptp";
			
			action = "/qis/QIS_internet_account.htm";
			submit();
		}
		else if(showCase == "l2tp"){
			document.QKform.wan_proto.value = "l2tp";
			
			action = "/qis/QIS_internet_account.htm";
			submit();
		}
		else if(showCase == "account"){
			document.QKform.wan_proto.value = "pptp";
			
			action = "/qis/QIS_internet_account.htm";
			submit();
		}
		else if(showCase == "finish"){
			action = "/qis/QIS_finish.htm";
			submit();
		}
		else if(showCase == "opmode"){
			//For RT-N10
			action = "/qis/QIS_op_mode.htm"; 
			submit();
		}
		else if(showCase == "detectWAN"){
			action = "/qis/QIS_detectWAN.htm";
			submit();
		}
		else if(showCase == "autoMAC"){
			action = "/qis/QIS_autoMAC.htm";
			submit();
		}
		else if(showCase == "resetModem"){
			action = "/qis/QIS_resetModem.htm";
			submit();
		}
		else{
			action = "/qis/QIS_internet_type.htm";
			submit();
		}
	}
}

function get_args(){
	if(arg_wan_proto.length > 0)
		document.QKform.wan_proto.value = arg_wan_proto;
	
	if(arg_wan_nat_x.length > 0)
		document.QKform.wan_nat_x.value = arg_wan_nat_x;
	
	if(arg_wan_route_x.length > 0)
		document.QKform.wan_route_x.value = arg_wan_route_x;
	
	if(arg_prev_page.length > 0)
		document.QKform.prev_page.value = arg_prev_page;
}

function getOperationMode(){
	if(document.QKform.wan_nat_x.value == "1")
		return "gateway";
	else if(document.QKform.wan_route_x.value == "IP_Routed")
		return "router";
	else
		return "ap";
}

function set_internet_type_reducedmode(mode){
	reduced_internet_type = mode;
}

function get_internet_type_reducedmode(mode){
	return reduced_internet_type;
}

function set_next_step(topage){
	targeturl = topage;
}

function get_next_step(){
	return targeturl;
}

var failed_connection_reason = "";

function set_failed_connection_reason(flag){
	failed_connection_reason = flag;
}

function get_failed_connection_reason(){
	return failed_connection_reason;
}

function gotoFinish(forward_page, page_flag){
	with(document.redirectForm){
		action = forward_page;
		target = "";
		flag.value = page_flag;
		
		submit();
	}
}

function closeQIS(){
	if(navigator.appName == "Netscape" && navigator.userAgent.indexOf("Safari") == -1){ //The appName of Safari is Netscape the same as Firefox and mozilla.
		window.open('', '_self', '');
		self.close(); 
	}
	else if(navigator.appName.indexOf("Microsoft") >= 0){
		window.opener=null;
		self.close();
 	}
	else{
		window.open('', '_self', ''); 
		self.close();
	}
}

var auto_detect_time = 0;

function get_detect_time(){
	return auto_detect_time;
}

function do_detect(){
	++auto_detect_time;
}

var done_autoMAC = 0;

function ifAutoMAC(){
	return done_autoMAC;
}

function doAutoMAC(){
	done_autoMAC = 1;
}

var done_resetModem = 0;

function ifResetModem(){
	return done_resetModem;
}

function doResetModem(){
	done_resetModem = 1;
}

var result_of_detectWAN = 0;

function get_detectWAN(){
	return result_of_detectWAN;
}

function set_detectWAN(result){
	result_of_detectWAN = result;
}
</script>
</head>

<body class="LevelQIS" onload="QIS_load_body();">
<noscript>
	<div class="popup_bg" style="visibility:visible; z-index:999;">
		<div style="margin:200px auto; width:300px; background-color:#006699; color:#FFFFFF; line-height:150%; border:3px solid #FFF; padding:5px;"><#not_support_script#></p></div>
	</div>
</noscript>

<div id="Loading" class="popup_bg">
	<table cellpadding="5" cellspacing="0" id="loadingBlock" class="loadingBlock" align="center">
		<tr>
			<td width="20%" height="80" align="center"><img src="/images/loading.gif"></td>
			<td><span id="proceeding_main_txt"><#Main_alert_proceeding_desc4#></span><span id="proceeding_txt" style="color:#FFFFCC;"></span></td>
		</tr>
	</table>
<!--[if lte IE 6.5]><iframe class="hackiframe"></iframe><![endif]-->
</div>

<div id="hiddenMask" class="popup_bg">
	<table cellpadding="5" cellspacing="0" id="dr_sweet_advise" class="dr_sweet_advise" align="center">
		<tr>
		<td>
			<div class="drword" id="drword"><#Main_alert_proceeding_desc4#> <#Main_alert_proceeding_desc1#>...
				<br/>
				<br/>
		    </div>
		  <div class="drImg"><img src="images/DrsurfImg.gif"></div>
			<div style="height:70px; "></div>
		</td>
		</tr>
	</table>
<!--[if lte IE 6.5]><iframe class="hackiframe"></iframe><![endif]-->
</div>

<!--For content in ifame-->	
<table width="705"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
  	<td  colspan="3" height="55" valign="top" background="images/qis_title.gif"><div class="modelName" style="margin:28px 0px 0px 180px;"><#Web_Title#></div></td>
  </tr>
</table>
<table width="705"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="187" height="350" background="images/qis_banner.gif">&nbsp;</td>
    <td width="510" height="380" valign="top" >
      <iframe name="contentM" id="contentM" scrolling="no" width="100%" height="100%" frameborder="0"></iframe></td>
    <td width="8" height="380" valign="top" background="images/qis_right.gif" ></td>
  </tr>
	<tr>
		<td height="12" colspan="3" style="background: url('images/qis_bottom.gif') no-repeat">&nbsp;</td>
	</tr>
</table>

<form method="post" name="QKform">
	<input type="hidden" name="flag" id="flag" value='<% get_parameter("flag"); %>'>
	
	<input type="hidden" name="prev_page" value="">
	<input type="hidden" name="current_page" value="/QIS_wizard.htm">
	<input type="hidden" name="next_page" value="">   
	
	<input type="hidden" name="sid_list" value="">
	<input type="hidden" name="action_mode" value=" Apply ">
	<input type="hidden" name="action_script" value="reboot">
	<input type="hidden" name="modified" value="">  
	<!-- system -->                  
	<input type="hidden" name="time_zone" value="<% nvram_get_x("",  "time_zone"); %>">
	<input type="hidden" name="lan_ipaddr" value="<% nvram_get_x("",  "lan_ipaddr"); %>">
	<input type="hidden" name="lan_netmask" value="<% nvram_get_x("",  "lan_netmask"); %>">
	<input type="hidden" name="wan_nat_x" value="<% nvram_get_x("",  "wan_nat_x"); %>">
	<input type="hidden" name="wan_route_x" value="<% nvram_get_x("",  "wan_route_x"); %>">	
	<!-- detect -->
	<input type="hidden" name="wan_proto" value="<% nvram_get_x("",  "wan_proto"); %>">
	<!-- internet IP -->
	<input type="hidden" name="x_DHCPClient" value="<% nvram_get_x("",  "x_DHCPClient"); %>">
	<input type="hidden" name="wan_ipaddr" value="<% nvram_get_x("",  "wan_ipaddr"); %>">
	<input type="hidden" name="wan_netmask" value="<% nvram_get_x("",  "wan_netmask"); %>">
	<input type="hidden" name="wan_gateway" value="<% nvram_get_x("",  "wan_gateway"); %>">
	<input type="hidden" name="vpn_enable" value="">
	<input type="hidden" name="wan_heartbeat_x" value="<% nvram_get_x("",  "wan_heartbeat_x"); %>">
	<input type="hidden" name="wan_dnsenable_x" value="<% nvram_get_x("",  "wan_dnsenable_x"); %>">
	<input type="hidden" name="wan_dns1_x" value="<% nvram_get_x("",  "wan_dns1_x"); %>"> 
	<input type="hidden" name="wan_dns2_x" value="<% nvram_get_x("",  "wan_dns2_x"); %>"> 
	<!-- internet ISP -->
	<input type="hidden" name="wan_hostname" value="<% nvram_get_x("",  "wan_hostname"); %>">
	<input type="hidden" name="wan_hwaddr_x" value="<% nvram_get_x("",  "wan_hwaddr_x"); %>">
	<!-- internet Account -->
	<input type="hidden" name="wan_pppoe_username" value="<% nvram_get_x("",  "wan_pppoe_username"); %>">
	<input type="hidden" name="wan_pppoe_passwd" value="<% nvram_get_x("",  "wan_pppoe_passwd"); %>">
	<!-- AP LAN -->
	<input type="hidden" name="lan_proto_x" value="<% nvram_get_x("",  "lan_proto_x"); %>">
	<input type="hidden" name="lan_gateway" value="<% nvram_get_x("",  "lan_gateway"); %>">
	<!-- Lock Add 2009.06.15 for RT-N12-->
	<input type="hidden" name="x_Setting" id="x_Setting" value="<% nvram_get_x("General", "x_Setting"); %>" disabled>
	<input type="hidden" name="sw_mode" value="<% nvram_get_x("IPConnection",  "sw_mode"); %>">
</form>

<form method="post" name="redirectForm" action="" target="contentM">
<input type="hidden" name="flag" value="">
<input type="hidden" name="prev_page" value="">
</form>
</body>
</html>
