config MT7610_AP
	tristate "MediaTek MT7610E 802.11 AP driver"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config  MT7610_AP_LED
	bool "LED support"
	depends on MT7610_AP
	default y

config  MT7610_AP_LED_SOFT
	bool "Soft LED support"
	depends on MT7610_AP && !MT7610_AP_LED && RALINK_GPIO_LED
	default n

config  MT7610_AP_LED_SOFT_GPIO
	int "Soft LED GPIO pin"
	depends on MT7610_AP && MT7610_AP_LED_SOFT
	default -1

config  MT7610_AP_LLTD
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on MT7610_AP
	default y

config  MT7610_AP_WDS
	bool "WDS"
	depends on MT7610_AP
	default y

config  MT7610_AP_MBSS
	bool "MBSSID"
	depends on MT7610_AP
	default y

config  MT7610_AP_MBSS_NEW_MBSSID_MODE
	bool "New MBSSID mode support"
	depends on MT7610_AP
	depends on MT7610_AP_MBSS
	default n

config  MT7610_AP_APCLI
	bool "AP-Client support"
	depends on MT7610_AP
	default y

config  MT7610_AP_MAC_REPEATER
	bool "MAC Repeater Mode support"
	depends on MT7610_AP
	depends on MT7610_AP_APCLI
	default n

config  MT7610_AP_CON_WPS
	bool "Concurrent WPS support"
	depends on MT7610_AP
	depends on MT7610_AP_APCLI
	depends on RT_WSC_V2
	default n

config  MT7610_AP_DFS
	bool "DFS support"
	depends on MT7610_AP
	default n

config  MT7610_AP_CARRIER
	bool "Carrier Detection support"
	depends on MT7610_AP
	default n

config  MT7610_AP_DLS
	bool "802.11e DLS (Direct-Link Setup) support"
	depends on MT7610_AP
	default n

config  MT7610_AP_IDS
	bool "IDS (Intrusion Detection System) support"
	depends on MT7610_AP
	default n

choice
	prompt "Tx Power Compensation"
	depends on MT7610_AP
	default MT7610_AP_TEMPERATURE_COMPENSATION

	config MT7610_AP_TSSI_COMPENSATION
	bool "TSSI DC Calibration & TSSI compensation"

	config MT7610_AP_TEMPERATURE_COMPENSATION
	bool "Tx Power Temperature Compensation"
endchoice

