config RT3593_AP
	tristate "Ralink RT3593 802.11 AP driver"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config  RT3593_AP_LED
	bool "LED support"
	depends on RT3593_AP

config  RT3593_AP_LLTD
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on RT3593_AP

config  RT3593_AP_WDS
	bool "WDS support"
	depends on RT3593_AP

config  RT3593_AP_MBSS
	bool "MBSSID support"
	depends on RT3593_AP

config  RT3593_AP_MBSS_NEW_MBSSID_MODE
	bool "New MBSSID mode support"
	default n
	depends on RT3593_AP_MBSS

config  RT3593_AP_APCLI
	bool "AP-Client support"
	depends on RT3593_AP

config  RT3593_AP_DFS
	bool "DFS support"
	depends on RT3593_AP

config  RT3593_AP_CARRIER
	bool "Carrier Detection support"
	depends on RT3593_AP

#config  RT3593_AP_EXT_CHANNEL_LIST
#	bool "Extension Channel List"
#	depends on RT3593_AP

config  RT3593_AP_HIGH_POWER
	bool "High Power support"
	depends on RT3593_AP

config  RT3593_AP_TXBF_SUPPORT
	bool "TX Beam Forming support"
	depends on RT3593_AP

config  RT3593_AP_DLS
	bool "DLS (Direct-Link Setup) support"
	depends on RT3593_AP

config  RT3593_AP_IDS
	bool "IDS (Intrusion Detection System) support"
	depends on RT3593_AP

config  RT3593_AP_GREENAP
	bool "Green AP mode support"
	depends on RT3593_AP

