config RTL8367
	tristate "Realtek RTL8367 Ethernet PHY Giga-Switch"

config RTL8367_API_8370
	bool
	depends on RTL8367

config RTL8367_API_8367B
	bool
	depends on RTL8367

choice
	prompt "Select ASIC Type"
	depends on RTL8367
	default RTL8367_ASIC_M

	config  RTL8367_ASIC_R
	bool "RTL8367R (LQFP128, 5+1 Ports, old ASIC)"
	depends on RTL8367
	select RTL8367_API_8370

	config  RTL8367_ASIC_M
	bool "RTL8367M (TQFP176, 5+2 Ports, old ASIC)"
	depends on RTL8367
	select RTL8367_API_8370

	config  RTL8370_ASIC_M
	bool "RTL8370M (TQFP176, 8+2 Ports, old ASIC)"
	depends on RTL8367
	select RTL8367_API_8370

	config  RTL8367_ASIC_RB
	bool "RTL8367RB (LQFP128, 5+2 Ports)"
	depends on RTL8367
	select RTL8367_API_8367B

	config  RTL8367_ASIC_RVB
	bool "RTL8367R-VB (LQFP128, 5+1 Ports, pin-to-pin with RTL8367R)"
	depends on RTL8367
	select RTL8367_API_8367B

	config  RTL8367_ASIC_MB
	bool "RTL8367MB (DR-QFN164, 5+2 Ports)"
	depends on RTL8367
	select RTL8367_API_8367B

	config  RTL8367_ASIC_MVB
	bool "RTL8367M-VB (TQFP176, 5+2 Ports, pin-to-pin with RTL8367M)"
	depends on RTL8367
	select RTL8367_API_8367B

	config  RTL8365_ASIC_MB
	bool "RTL8365MB (LQFP128, 4+1 Ports)"
	depends on RTL8367
	select RTL8367_API_8367B

	config  RTL8368_ASIC_MB
	bool "RTL8368MB (TQFP176, 5+3 Ports)"
	depends on RTL8367
	select RTL8367_API_8367B
endchoice

choice
	prompt "Select Control Interface"
	depends on RTL8367
	default RTL8367_CIF_SMI

	config  RTL8367_CIF_SMI
	bool "SMI Bus (emulation via GPIO)"
	depends on RTL8367
	select RALINK_GPIO

	config  RTL8367_CIF_MDIO
	bool "MDIO Bus"
	depends on RTL8367
endchoice

config  RTL8367_SMI_BUS_CPU_GPIO_DATA
	int "Ralink GPIO Pin for SMI Bus Data"
	depends on RTL8367 && RTL8367_CIF_SMI
	default 1
	help
	please choose Ralink SoC GPIO pin

config  RTL8367_SMI_BUS_CPU_GPIO_CLCK
	int "Ralink GPIO Pin for SMI Bus Clock"
	depends on RTL8367 && RTL8367_CIF_SMI
	default 2
	help
	please choose Ralink SoC GPIO pin

config  RTL8367_PORT_WAN
	int "WAN Port ID (0..4)"
	depends on RTL8367
	default 4
	help
	please choose port ID from range 0..4

config  RTL8367_PORT_LAN1
	int "LAN1 Port ID (0..4)"
	depends on RTL8367
	default 3
	help
	please choose port ID from range 0..4

config  RTL8367_PORT_LAN2
	int "LAN2 Port ID (0..4)"
	depends on RTL8367
	default 2
	help
	please choose port ID from range 0..4

config  RTL8367_PORT_LAN3
	int "LAN3 Port ID (0..4)"
	depends on RTL8367
	default 1
	help
	please choose port ID from range 0..4

config  RTL8367_PORT_LAN4
	int "LAN4 Port ID (0..4)"
	depends on RTL8367
	default 0
	help
	please choose port ID from range 0..4

config  RTL8367_PORT_LAN5
	int "LAN5 Port ID (0..7)"
	depends on RTL8367 && RTL8370_ASIC_M
	default 5
	help
	please choose port ID from range 0..7

config  RTL8367_PORT_LAN6
	int "LAN6 Port ID (0..7)"
	depends on RTL8367 && RTL8370_ASIC_M
	default 6
	help
	please choose port ID from range 0..7

config  RTL8367_PORT_LAN7
	int "LAN7 Port ID (0..7)"
	depends on RTL8367 && RTL8370_ASIC_M
	default 7
	help
	please choose port ID from range 0..7

choice
	prompt "Select Ext CPU Port for handle LAN Ports"
	depends on RTL8367
	default RTL8367_LAN_CPU_EXT1

	config  RTL8367_LAN_CPU_EXT0
	bool "Ext0"
	depends on RTL8367 && !RTL8367_ASIC_RB && !RTL8367_ASIC_RVB && !RTL8367_ASIC_R

	config  RTL8367_LAN_CPU_EXT1
	bool "Ext1"
	depends on RTL8367

	config  RTL8367_LAN_CPU_EXT2
	bool "Ext2"
	depends on RTL8367_ASIC_RB
endchoice

config  RTL8367_USE_INIC_EXT
	bool "Use Second Ext Port for Ralink iNIC mii adapter"
	depends on RTL8367 && !RTL8367_ASIC_RVB && !RTL8367_ASIC_R
	default n
	help
	please enabled this to use connected Ralink iNIC WiFi Module to Second Ext Port

config  RTL8367_RGMII_DELAY_TX
	int "RGMII-to-GMAC Front Delay TX (0..1)"
	depends on RTL8367
	default 1
	help
	please choose RGMII TX front delay from range 0..1

config  RTL8367_RGMII_DELAY_RX
	int "RGMII-to-GMAC Front Delay RX (0..7)"
	depends on RTL8367
	default 1
	help
	please choose RGMII RX front delay from range 0..7

config  RTL8367_IGMP_SNOOPING
	bool "Enable IGMP Snooping Feature"
	depends on RTL8367 && BRIDGE_IGMP_SNOOPING
	select BRIDGE_IGMP_EVENT_HOOK
	default y

comment "MT7621 GSW port control"
	depends on RTL8367 && RAETH && (RALINK_MT7621)

config  RTL8367_MCM_WAN_PORT
	bool "MT7621 GSW: use one Ethernet port as WAN"
	depends on RTL8367 && RAETH && (RALINK_MT7621)
	select MT7530_GSW

config  RTL8367_MCM_WAN_PORT_ID
	int "MT7621 GSW: WAN Port ID (0..4)"
	depends on RTL8367_MCM_WAN_PORT
	default 4
	help
	  please choose port ID from range 0..4
