*.[oa]
*.l[oa]
*.dll
*.exe
*.exe.*
*.obj
*.pyc
*.so
*~
*.idb
*.suo
*.ncb
*.vcproj.*
*.vcxproj.user
*.sln.cache
*.log
Release
Debug
Win32-Output
.deps
.libs
Makefile
autodefs.h
autom4te.cache
config.h
config.log
config.status
configure.h
stamp-h1

version.sh
msvc-env-local.bat
config-msvc-local.h
config-msvc-version.h
doc/openvpn.8.html
distro/rpm/openvpn.spec
tests/t_client.sh
tests/t_client-*-20??????-??????/
src/openvpn/openvpn
config-version.h
